In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# Veri üretimi için gerekli listeler
markalar = ['Toyota', 'Honda', 'Ford', 'Volkswagen', 'BMW', 'Mercedes', 'Audi', 'Hyundai', 'Renault', 'Fiat']
modeller = {
    'Toyota': ['Corolla', 'Yaris', 'RAV4'],
    'Honda': ['Civic', 'City', 'CR-V'],
    'Ford': ['Focus', 'Fiesta', 'Kuga'],
    'Volkswagen': ['Golf', 'Polo', 'Passat'],
    'BMW': ['3 Serisi', '5 Serisi', 'X5'],
    'Mercedes': ['C Serisi', 'E Serisi', 'A Serisi'],
    'Audi': ['A3', 'A4', 'Q5'],
    'Hyundai': ['i20', 'Tucson', 'i10'],
    'Renault': ['Clio', 'Megane', 'Kadjar'],
    'Fiat': ['Egea', '500', 'Doblo']
}
yakit_tipleri = ['Benzin', 'Dizel', 'LPG']
vites_tipleri = ['Manuel', 'Otomatik']

In [3]:
def veri_uret(n=1000):
    data = []
    current_year = datetime.now().year
    
    for _ in range(n):
        marka = np.random.choice(markalar)
        model = np.random.choice(modeller[marka])
        yil = np.random.randint(2010, current_year + 1)
        km = np.random.randint(0, 300000)
        yakit = np.random.choice(yakit_tipleri)
        vites = np.random.choice(vites_tipleri)
        motor_hacmi = np.random.choice([1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2])
        motor_gucu = np.random.randint(75, 250)
        
        # Fiyat hesaplama (gerçekçi fiyat tahmini için)
        base_price = 250000  # Baz fiyat
        
        # Faktörlere göre fiyat ayarlaması
        year_factor = (yil - 2010) * 15000
        km_factor = -km * 0.05
        engine_factor = motor_hacmi * 50000
        power_factor = motor_gucu * 500
        
        # Marka prestij faktörü
        brand_factors = {
            'BMW': 1.4, 'Mercedes': 1.4, 'Audi': 1.3,
            'Volkswagen': 1.2, 'Toyota': 1.1, 'Honda': 1.1,
            'Ford': 1.0, 'Hyundai': 0.9, 'Renault': 0.9, 'Fiat': 0.8
        }
        
        price = (base_price + year_factor + km_factor + engine_factor + power_factor) * brand_factors[marka]
        price = max(50000, price)  # Minimum fiyat sınırı
        price = round(price, -3)  # Fiyatı 1000'lik değerlere yuvarlama
        
        data.append({
            'Marka': marka,
            'Model': model,
            'Model_Yili': yil,
            'Kilometre': km,
            'Yakit_Tipi': yakit,
            'Vites_Tipi': vites,
            'Motor_Hacmi': motor_hacmi,
            'Motor_Gucu': motor_gucu,
            'Fiyat': price
        })
    
    return pd.DataFrame(data)

In [4]:
# Veri setini oluştur
df = veri_uret(1000)

# CSV dosyası olarak kaydet
df.to_csv('veri.csv', index=False)

# İlk 5 satırı göster
print("Veri seti oluşturuldu ve kaydedildi. İlk 5 satır:")
df.head()

Veri seti oluşturuldu ve kaydedildi. İlk 5 satır:

,Marka,Model,Model_Yili,Kilometre,Yakit_Tipi,Vites_Tipi,Motor_Hacmi,Motor_Gucu,Fiyat
0,Renault,Kadjar,2010,113689,LPG,Manuel,2.2,179,399000.0
1,Renault,Megane,2019,34844,Benzin,Manuel,2.0,211,530000.0
2,Ford,Focus,2021,181752,Benzin,Otomatik,1.0,197,554000.0
3,Hyundai,i10,2020,44234,Benzin,Otomatik,1.6,123,485000.0
4,Audi,Q5,2021,108588,Dizel,Otomatik,1.4,116,699000.0